@model Permissao

	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<form method="POST" >
                    @Html.AntiForgeryToken()
					 <div asp-validation-summary="All" class="text-danger"></div>
		     		<div class="form-group">
					<label asp-for="Nome">Nome</label>
					<input type="text" asp-for=Nome placeholder="Nome da Permissão" class="form-control" >
					<span asp-validation-for="Nome" class="text-danger"></span>
				</div>					
				<button type="submit" class="btn btn-default">
					Salvar
				</button>
			</form>
		</div>
		<div class="col-md-4">
		</div>
	</div>
