@model Permissao


<div class="row">    
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">        
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label> Nome: @Model.Nome</label>
        
        <form asp-controller="Permissao" asp-action="Deletar">
            <label> Quer realmente deletar?</label>
            <button type="submit" class="btn btn-primary">Sim</button>
            <a class="btn btn-danger" asp-action="Todos">Não</a>            
        </form>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">        
    </div>
    
</div>


