@model IList<Permissao>

<div class="row">
    
    <a class="btn btn-primary" title="Adicionar Usuario" asp-action="Novo" ><span class="glyphicon glyphicon-plus"></span></a>
    
</div>
<br>
<div class="row">
    
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th class="text-center">Nome</th>                
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var permissao in @Model)
            {
                <tr>
                    <td >@permissao.Nome</td>
                    
                    <td class="text-center">
                        <a title="Editar" class="btn btn-primary" asp-controller="Permissao" asp-action="Editar" asp-route-id="@permissao.PermissaoId"><spam class="glyphicon glyphicon-pencil"></spam></a>
                        <a title="Deletar" class="btn btn-danger" asp-controller="Permissao" asp-action="Deletar" asp-route-id="@permissao.PermissaoId"><spam class="glyphicon glyphicon-remove"></spam> </a>                                               
                    </td>
                </tr>
            }            
        </tbody>
    </table>
    
</div>
