@model UsuarioViewModel

<div class="row">
    
    <a class="btn btn-primary" title="Adicionar Usuario" asp-action="Novo" ><span class="glyphicon glyphicon-plus"></span></a>
    
</div>
<br>
<div class="row">
    
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th class="text-center">Nome</th>
                <th class="text-center">Email</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var usuario in Model.Usuarios)
            {
                <tr>
                    <td >@usuario.Nome</td>
                    <td>@usuario.Email</td>
                    <td class="text-center">
                        <a title="Editar" class="btn btn-primary" asp-controller="Usuario" asp-action="Editar" asp-route-id="@usuario.UsuarioId"><spam class="glyphicon glyphicon-pencil"></spam></a>
                        <a title="Deletar" class="btn btn-danger" asp-controller="Usuario" asp-action="Deletar" asp-route-id="@usuario.UsuarioId"><spam class="glyphicon glyphicon-remove"></spam> </a>                                               
                    </td>
                </tr>
            }            
        </tbody>
    </table>   
    
</div>

<div class="row">
    <ul class="pagination">
            
        
        @for(var i =1; i <= Model.QuantPaginas; i++)
        {
            <li><a asp-action="Todos" asp-route-pagina="@i">@i</a></li>
        }
        
        
        <li><a asp-action="Todos" asp-route-pagina=@ViewData["ProximaPagina"]>&raquo;</a></li>
    </ul>
</div>

